@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
 /*background: linear-gradient(87.4deg, rgba(255, 241, 165, 0.794) 1.9%, rgba(200, 126, 76, 0.864) 49.7%, rgba(83, 54, 54, 0.74) 100.5%);*/
 /*background: radial-gradient(859px at 10% 20%, rgb(245, 221, 154) 0%, rgba(117, 32, 6, 0.585) 90%);*/
 background:  white;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7dcdcd,  #7dcdcd);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,white,  white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container .title{
  margin: 20px;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  text-align: center;
  color:#0093AF;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  }
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #0093AF;

}


.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  /* box-shadow: #0093AF 0px 50px 100px -20px, #0093AF 0px 30px 60px -30px, #0093AF 0px -2px 6px 0px inset; */
  border: 1px solid #0093AF;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: white;

}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color:#0093AF;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
  color: #0093AF;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 form .category{
  display: flex;
  width: 80%;
  margin: 14px 70px ;
  justify-content: space-between; 
   
 }
 form .category label{
  display: flex;
  align-items: center;
  cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
/* .dot1{
  margin-left: 100px;
} */

 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background:#0093AFc9;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 25px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background:#0093AF;
 }
 form .button input:hover{
  background:#0093AFb3;
  letter-spacing: 5px;
}
  .container1{
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: 10px ;
}
.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
   top: 15px;
   left: 20px;
   
    
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
    

}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: rgb(160, 136, 101);
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    

}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);

}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 14px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: relative;
    bottom: 5px;
    left: 20px;
    
}
.select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;

}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
    
}
.item.checked .checkbox{
    background-color: rgb(160, 136, 101);
    border-color: rgb(160, 136, 101);
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    
}
.item.checked .check-icon{
    transform: scale(1);
}
















 @media(max-width: 584px){
 .container{
  max-width: 100%;
  
  
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
    align-items:center ;
     flex-direction: column; 
     margin: 14px 0px ;
  }
  

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

/********************pop up*********************/
/* Modal Header */

  
  /* Modal Body */
  
  /* Modal Footer */
 .close{
    float: right;
    color: #0093AF;
    font-size:x-large;
    cursor: pointer;
 }
  p{
    text-align: center;
    color: #0093AF;
    padding-top: 20px;
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 120px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    z-index:1;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }