@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*HEADER*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}
body {
    height: 100vh;
    background-color:white ;
    overflow-x: hidden;
 
}


#firstsec{ 
    background: url(../image/BG10.jpg);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #0093AF;
    font-size: 1rem;
    font-weight: bold;

}
a:hover{
    color:  #0093AF     ;
    border: #0093AF;
    

}


.navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    z-index: 1;    
    
}
.show{
    background-color: rgba(255, 255, 255, 0.911);
    
}
.navbar.logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
.links{
    display: flex;
    align-items: center; 
    position: relative;
    right: 25px;
}
.navbar li  {
    margin: 0 15px;
    list-style-type: none;
}
.logo{
    position: relative;
    margin-left: 40px;
    
}
header  .logo a {
   color:   #0093AF;
   
 
}


.navbar.links {
    display: flex;
    gap: 2rem;

}
.navbar .toggle_btn {
    color: #0093AF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.action_btn {
    background-color: transparent;
    color: #0093AF;
    padding: 0.5rem 1rem;
    border: 1px solid   #0093AF                 ;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-right: 60px;
}

.action_btn:hover{
    background-color:   #0093AF                 ;
    color: white;
}
.action_btn:active{
    scale: 0.95;
}
/*DROPDOWN_MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: white                 ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
}
.dropdown_menu.open{
    height: 350px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    
}
/*RESPONSIVE DESIGN HEADER */
@media(max-width: 1333px){
    .navbar  .links,
    .navbar .action_btn{
        display: none;

    }
    .navbar .toggle_btn{
        display: block;
        margin-right: 25px;
        font-size: 35px;
        color:#0093AF ;
        
        
    }
    .navbar .toggle_btn :hover{
        color:#0093AFd0 ;
    }
    .dropdown_menu{
        display: block;
    }
   
}

    @media(max-width: 1206px){
        .dropdown_menu{
            left: 2rem;
            width: unset;
            z-index: 4;
        }
       


}



/* IMAGES*/
/* #imgd{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 235px;
    width: 236px;
    border-radius: 50%;
        
} */
#home {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
#g-home {
    margin:auto;
    margin-top: 250px;
}
#home h2 {
    /* position: relative; */
    text-align: center;
    /* bottom: 50px; */
    font-size: 40px;
    margin-bottom: 15px;
    -webkit-text-stroke: #0093AF 0.3px;
    color: transparent;
    text-transform:uppercase;
    font-size: 1000;
}
#home h4 {
    /* position: relative;
    bottom: 50px; */
    text-align: center;
    font-size: 30px;
    color:#0093AF;
    /* margin-bottom: 10px; */
    text-transform:uppercase;
 }
/*.btn-reservation {
    color: white;
    background-color: #0093AF;
    font-size: 30px;
    border: 2px solid #0093AF    ;
    padding: 7px 70px;
    transition: 0.5s;
    font-weight: bolder;
    border-radius: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
    margin-bottom:90px ;
    bottom: 85px; 
}*/
/*.btn-reservation:hover {
    background-color: #0093AFa5;
    border: #0093AFa5; 
    color: white;
    letter-spacing: 1px;
 
} */
/* .home-btn {
    margin-bottom: 20px;
} */
/* IMAGE RESPONSIVE */
/* @media (max-width:952px){} */
@media (max-width:487px){
    /* #home h2 {
        
        font-size: 17px;
        
         }
    #home h4 {
        font-size: 14px;
    } */
     /* .btn-reservation {
        font-size: 20px;
        padding: 10px 70px;
        
     } */
     /* #imgd{
        
        margin-top: 60px; 
        height: 120px;
        width: 120px; 
       
        
}   */

}
@media (max-width:1300px){
    /* .btn-reservation {
        font-size: 20px;
        padding: 10px 20px;
        display: flex;
       justify-content: center;
       align-items: center;
     } */
     #home h4 {
        font-size: 20px;
     }
     #home h2 {
        font-size: 30px;
     }
}
/*A-PROPOS*/
#a-propos {
    
    padding: 0px 10%;
    width: 100%;
    background-color: white     ;
    height: 100vh;
    
}
.title {
    position: relative;
    top:70px;
    text-transform:uppercase;
    margin: 70px 0;
    font-weight: bold;
    color: #0093AF  ;
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;

}
.left{
    position: relative;
    left: 20px;
}
.right {
    position: relative;
    right: 6px;
}

.img-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    padding-bottom: 100px;
    position: relative;
    top: 50px;
    
}

.img-desc .left {
    position: relative;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 120px;
    height: 250px;
    width: 40%;


}
.img-desc .right {
    width: 40%;
    margin-top: 120px;
    

}

.img-desc .left img {
    width: 100%;
    height: 100%;
    margin-left: 90px;
    position: relative;
    box-shadow: 0 0 10px #5F9EA0    ;
    border-radius: 12px;

}
.img-desc .left::after {
    position: absolute;
    bottom: -10px;
    right: 10px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.img-desc .right h3 {
    color: #0093AF;
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;

}
.img-desc .right ul{
    color: #0093AF ;
    font: 14px;
    /* font-weight:lighter; */
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 36px;
}
.img-desc .right a {
    border: 1px solid   #5F9EA0         ;
    color:  #5F9EA0         ;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}
/*RESPONSIVE A-PROPOS*/

@media (max-width:943px) {
    /* #firstsec{
        height: 50vh;
    } */
   .left{
    position: relative;
    left: 20px;
    
    
    
   }
    
    .img-desc {
        flex-direction: column;
        width: 90%;
        margin: auto;
        
    }
    .img-desc .left , .img-desc .right {
        width: 90%;
       

    }
    .img-desc .left img {
        width: 100%;
        margin-left: 0;

        
    }
    .img-desc .left::after {
        background-color: transparent;
    }
    .img-desc .left {
        margin-bottom: 20px;
        
    }
}
/*SERVICE*/
.service{
    margin-top: 170px;
    /* margin-bottom: 50px; */
    padding: 0 10%;
    width: 100%;
    height: 100vh;
    
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;    padding-bottom: 100px;
    position: relative;
    top: 50px;
    padding: 40px;
    
}

.card{
    height: 255px;
    width: 100%;
    padding: 0 35px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.751);
    border-radius: 20;
    margin: 35px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
 .ic{
    color: #0093AF;
    font-size: 25px;
    position: relative;
    top: 40px;
}
 .tit {
    color: #0093AF;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    top: 50px;

}
.par{
    color: #0093AF ;
    font: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 36px;
    position: relative;
    top:60px;

}
/*RESPONSIVE SERVICE*/
/* @media (max-width:1440px) {
    #urgence{
       position: relative;
       bottom: 600px;
       
       

    }
    .service{
        position: relative;
        top: 100%;
       }
    
    
} */

@media (max-width:945px) {
    /* .service{
     position: relative;
     top: 100px;
     
    } */
    
    #urgence{
        position: relative;
        top: 250px;
    }
    .title{font-size:x-large;}
     
     .box {
         flex-direction: column;
         width: 90%;
         margin: auto;
     }
     .card{
        width: 90%;
        padding-top: 1px;
     } 
}
    @media (max-width:391px) {
    .ic{
        font-size: 20px;
    }
     .tit {
        font-size: 20px;
     }
     .par {
        font-size: 10px;
     }
       }

 /* CONTACT */

#contact {
    position: relative;
    padding: 0 10%;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    
}

#contact .sec-contact {
    position: relative;
    top: 60px;
    background-color: white;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;    height: 500px;
}
.contact-0{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    margin: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 3px;

}

.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left-right .left , .left-right .right  {
    display: flex;
    flex-direction: column;
    width: 47%;
}
.ico{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    margin: 20px 0px;
    height: 38px ;
    width: 38px;
    background-color:#0093AF;
    color:white;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.751);
    position: relative;
}
.ico:hover{
    background-color:white;
    color:#0093AF;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.751);
}
.contact-social{
   
   display: flex;
   justify-content: space-between;
 
}
.icn{
    margin-right:85px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    margin: 20px 0px;
    height: 38px ;
    width: 38px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.icn:hover{
    background-color: #0093AF;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.ti{
    color: #0093AF;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 35px;
}
.h4-contact{
    color: #0093AF;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
   

}

.contact-1{
    position: relative;
    bottom: 40px;
}
.contact-2{
    position: relative;
    bottom: 80px;
}
.contact-3{
    position: relative;
    bottom: 120px;
}
.contact-4{
    /* margin-top: 120px; */
    line-height: 3px;
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.contact-all{
    margin-top: 80px;
    
}


iframe {
    height: 155px;
    width: 60%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
}

/* CONTACT RESPONSIVE */
@media (max-width:1440px) {
    
     
     #contact{
        position: relative;
        top:150px;
        
         
     }
    
     .left-right .left , .left-right .right  {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .left-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .contact-all{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        
    }
    .contact-2{
        position: relative;
        bottom: 120px;
    }
    #contact .sec-contact {
        height: 1050px;
    }
    }
    .contact-4{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 40px;
        
    }
    .contact-social a{
        
        margin: 15px 10px 10px;

       
    }
    .icn{
        position:relative;
        
    
    }
    iframe{
        width: 100%;
    }
    @media (max-width:945px) {
        #contact{
         position: relative;
         top: 500px;
        }
    }  
    @media (max-width:800px) {
        /* #contact{
         position: relative;
         top: 1000px;
        } */
        .h4-contact{
            font-size: 15px;
        }
        .contact-social a{
        
            margin: 10px 2px 2px;
        }
        .icn{
            font-size: 10px;
            
        
        }
    }   
     
    

    
    /*FOOTER*/
    footer{
        background-color: #0092afad;
        overflow: hidden;
        /* position: relative;
        top: 750px; */
        margin-top: 880px;
    }
    .info-contact{
        position: relative;
        left: 105px;
        
        
    }
    .contactez-nous{
        font-size: 25px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        position: relative;
        top:25px;
        
    }
    .para-contact{
        font-size: 12px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        line-height: 25px;
        display: flex;
        flex-direction: column;
        position: relative;
        font-weight: lighter;
        top:35px;
        left: 10px;
        

    }
    .social-links{
        position: relative;
        float: right;
        bottom: 30px;
        margin-right:85px; 
        
        
    }
     .social-links a {
        display: inline-block;
        height: 38px ;
        width: 38px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        transition: all 0.5s ease;
        
    
    
    }
    .contactez-nous{
        text-transform:uppercase;
    }
    .social-links a:hover{
        color:#0093AF;
        background-color:#ffff ;
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.751);
    }
    h5{
        
        margin: auto;
        position: relative;
        margin-top:50px;
        font-family:sans-serif;
        font-style:italic ;
        font-size: medium;
        font-weight: bold;
        text-transform:capitalize;
        text-align: center;
        color:white;
        /* background-color: #5d8aa882; */
       
        
    }
    .test{
        word-spacing: 10px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    .test:hover{
        color: white;
    }
    @media (max-width:945px) {
        footer{
            margin-top: 1200px;
            display: flex;
            flex-direction: column;
            height: 250px;

        }
        
        .info-contact{
            position: relative;
            align-items: center;
            left: 0;
            margin: auto;
            

        }
       
        .social-links{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 90px;
            position: relative;
            left: 20px;
        }
        h5{
            margin: auto;
            margin-bottom: 150px;
            position: relative;
            bottom: 20px;
            left: 20px;
          
        }
        .contactez-nous{
            text-align: center;
        }
        .para-contact{
            position: relative;
            left: 20px;
            margin: auto;
            text-align: center;
        }
        .esp{
            position: relative;
            right: 10px;
        }
    }

    ::-webkit-scrollbar{
        width: 10px;
        
    }
    ::-webkit-scrollbar-track{
        background-color:whitesmoke
    }
    ::-webkit-scrollbar-thumb{
        background-color: #0093AF;
        
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: #0092afc5;
    }